* {
  background-color: black;
  color: white;
}

.filter-active {
  background-color: blue;
}

.App {

}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}